<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="{{'/password/css/style.css'}}">
    <script  type="text/javascript" src="{{'/password/js/jquery-3.4.1.min.js'}}"></script>
    <script  type="text/javascript" src="{{'/password/js/md5.min.js'}}"></script>
    <title>ATDL_XacThuc</title>

</head>
<body>
    <h1> Xác thực mật khẩu </h1>
    <section class="anderson">
        <div>
            <h3 id = 'header_1'>Kiểm tra mật khẩu với công thức anderson</h3>
            <form id = 'form_1'>
                {% csrf_token %} 
                {{form_mk_basic}}
                <input type = 'submit' value="Check Anderson">
            </form>
        </div>
        <div id = 'andersonRes'></div>
        <script>
                $(document).ready(function(){
                    var user = $('#form_1 input[name=username]');
                    var confpwd = $('#form_1 input[name = confirmPassword]');
                    user.prop('required', false);
                    confpwd.prop('required', false);
                    // user.prop('class', 'hide');
                    // confpwd.prop('class', 'hide');
                    
                   

                    $('#form_1').on('submit', function(e){
                        e.preventDefault();
                        e.stopPropagation();
                        $.ajax({
                            type: "POST",
                            url: "checkAnderson",
                            data: $('#form_1').serialize(),
                            dataType:'json',
                            success: function(data){
                                console.log(data);
                                // $('#andersonRes').html(JSON.stringify(data));
                                var tabletemp;
                                Object.keys(data).forEach(function(key) {
                                    tabletemp += '<tr><td>' + key +'</td><td>' + data[key] +'</td></tr>';
                                // console.table('Key : ' + key + ', Value : ' + data[key]);
                                })
                                $('#andersonRes').html(tabletemp);
                            },  
                            
                        })
                    })
                })
        
            </script>
    </section>
 <section>
<!-- THACH THU DAP UNG Challenge response -->
        <h3>Thách thức đáp ứng</h3>

        <form action="" id='checkuser'>
            {% csrf_token %}
            {{form_user}}   
           <input type="submit" name="" value="Login">
        </form>
        <div id="serverChallengeNumber" ></div>

        <form action="" id ='login_chall_res'>
            {% csrf_token %}
            {{form_loginChall}}
            <input type="submit" name="" id="Login">
        </form>
        
    </div>
    <script>
        $(document).ready(function(){
            var form = $('#checkuser');
            var sectionID;
            var formLogin = $('#login_chall_res');
            // hide password and numver filed before check username
            formLogin.hide();
            form.on('submit',function(e){
                username = $('#id_chal_username').val();
                e.preventDefault();
                e.stopPropagation();
                console.log('submit');
                $.ajax({
                type: "GET",
                url: 'requestLogin',
                dataType: 'json',
                data: form.serialize(),
                success: function(data){
                    console.log(data);
                    console.log();
                    // show login form if user is exist
                    var status = data['statusCode'];
                    console.log(status);
                    if(status === 200){
                        $('#serverChallengeNumber').html("Mã xác nhận của bạn là: " + data['challenge_number']);
                        $('#login_chall_res').show();
                        $('#checkuser').hide();
                        sectionID = data['sectionID'];
                    }
                    else{
                        $('#serverChallengeNumber').html('Sai tài khoản');
                    }
                 },
                error: function(data){
                   
                }
                })
            })

            
            formLogin.on('submit', function(e){
                e.preventDefault();
                var password = $('#id_chal_password').val();
                var chalNum = $('#id_serverChalNum').val();
                var hashval = password + chalNum ;
                hashval = md5(hashval);
                console.log(hashval);
                $.ajax({
                    type: 'POST',
                    url: 'challengeResponse',
                    dataType: 'json',
                    data:{
                        sectionID: sectionID,                        
                        hashpassword: hashval,
                        csrfmiddlewaretoken:  $('input[ name = csrfmiddlewaretoken]').val(),
                    },
                    success : function(data){
                        console.log(data);
                        alert(data['mess']);
                    }
                })           
               

            })
        })
</script>
</section> 
<!-- THACH THU DAP UNG Challenge response -->
  
<section>
<!-- Thêm muối vào mật khẩu -->
<h3>Thêm muối vào mật khẩu</h3>
<p>Mô tả: Đăng kí tài khoản, mật khẩu lưu trong CSDL dưới dạng pasword + salt <br>
    salt: Sinh ra ngẫu nhiên lưu trong CSDL với template (2char + '_' + 2digit)
</p>
<h4> Đăng kí</h4>
<form id="f_signup">
    {% csrf_token %}
    {{form_signup_salt}}
    <input type="submit" name="" id="" value="Sign Up">
</form>
<div id = 'a123'></div>
<h4>Đăng nhập và trả về các thuộc tính theo công thức anderson</h4>
<form action="" id=f_signin>
    {% csrf_token %}
    {{form_signin_salt}}
    <input type="submit" name="" id="" value="Sin In">
</form>
<div id = 'anderson_salt'>

</div>

<script>
$(document).ready(function(){
    //sign up
    $('#f_signup').on('submit',function(e){
        e.preventDefault();
        e.stopPropagation();
        var pwd = $('#f_signup input[name =password]').val();
        var confirmPwd = $('#f_signup input[name =confirmPassword]').val();
        if(pwd != confirmPwd){
            alert('Password and confirm password does not match!');
        }
        else {
            $.ajax({
                type : 'POST',
                url: 'salt_signup',
                dataType: 'json',
                data: $('#f_signup').serialize(),
                success: function(data){
                    console.log(data);
                    alert(data['mess']);  
                  
                }
                
            })
        }
    })
    //------------------------------------------------
    //sign in
    $('#f_signin').on('submit', function(e){
        e.preventDefault();
        e.stopPropagation();
        $.ajax({
            type : 'POST',
                url: 'salt_signin',
                dataType: 'json',
                data: $('#f_signin').serialize(),
                success: function(data){
                    console.log(data);
                    alert(data['mess']);
                    if(data['statusCode'] == 200){
                        var properties = data['pwdProperties'];
                        var tabletemp;
                                Object.keys(properties).forEach(function(key) {
                                    tabletemp += '<tr><td>' + key +'</td><td>' + properties[key] +'</td></tr>';
                                // console.table('Key : ' + key + ', Value : ' + data[key]);
                                })
                                $('#anderson_salt').html(tabletemp);
                    }
                }
        })
    })


})
</script>
</section>

<section>
    <!-- Hạn chế bruteforce bằng cách phạt thời gian nếu đăng nhập sai -->
    <h3>Hạn chế bruteforce</h3>
    <form action="" id='checkusernameBF'>
        {% csrf_token %}
        {{form_bruteforce_user}}
        <input type="submit" name="" id="" value="Login">   
    </form>
    <div id = 'bfUserMess'>

    </div>
    <form action="" id='loginBF'>
            {% csrf_token %}
            {{form_bruteforce_pwd}}
            <input type="submit" name="" id="bfLoginSubmit" value="Login">   
     </form>
     <div id = 'bfLogin'></div>
     <div id = 'countdown'></div>
     <div>
         <p><br><br><br></p>
     </div>

    <script>
        $(document).ready(function(){
            var sectionID;
            $('#loginBF').hide();
            $('#checkusernameBF').on('submit', function(e){

                e.preventDefault();
                e.stopPropagation();

                $.ajax({
                    type: 'POST',
                    url: 'preventBrutefoceCheckusername',
                    dataType: 'json',
                    data: $('#checkusernameBF').serialize(),
                    success: function(data){
                        $('#bfUserMess').html(data['mess']);
                        sectionID = data['sectionID'];
                        console.log( data['sectionID']);
                        
                        if (data['statusCode'] == 200) {
                            $('#checkusernameBF').hide();
                            $('#loginBF').show();
                            }

                    }
                })

            })

        
        $('#loginBF').on('submit', function(e){
            e.preventDefault();
                e.stopPropagation();
                $('#bfLogin').show();
                $('#countdown').show();
                $.ajax({
                    type: 'POST',
                    url: 'preventBrutefoce',
                    dataType: 'json',
                    data:{
                        sectionID: sectionID,                        
                        password:  $('#loginBF input[name = password]').val(),
                        csrfmiddlewaretoken:  $('#loginBF input[ name = csrfmiddlewaretoken]').val(),                      
                    },
                    success: function(data){
                        console.log(data);
                        var status = data['statusCode']
                        if (status == 402){
                            $('#bfLogin').html('Bạn nhập quá sai quá nhiều lần, vui lòng đợi');
                            var timeLeft = data['mustwait'];
                            var elem = document.getElementById('countdown');
                            var timerId = setInterval(countdown, 1000);
                            $('#bfLoginSubmit').prop( "disabled", true );
                            function countdown() {
                                if (timeLeft == -1) {
                                    clearTimeout(timerId);
                                    $('#bfLoginSubmit').prop( "disabled", false );
                                    $('#countdown').hide();
                                    $('#bfLogin').hide();
                                } else {
                                    elem.innerHTML = timeLeft + 'seconds remaining';
                                    timeLeft--;
                                }
                            }
                        }
                        else {
                            $('#bfLogin').html(data['mess']);
                            $('#countdown').hide();
                        }
                    }
                })
                console.log(sectionID);
            })
        })
    </script>
</section>
</body>
</html>