<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <h1> Xác thực mật khẩu </h1>
    <div>
        <h3>Kiểm tra mật khẩu</h3>
        <form action="result.html" method="post">
            {% csrf_token %} 
            {{form_mk}}
            <input type="submit" name="" id="">
        </form>
         
    </div>
    
</body>
</html>